@import "bootstrap-sprockets";
@import "bootstrap";

body {
	background-image: url('https://www.dropbox.com/s/z85v33ilj3gzqwq/seamless_paper_texture.png?raw=1')
}

.center, .thumbnail {
	text-align: center;
}

.col-md-3:nth-child(4n+1) {
	clear:left;
}

.col-md-6 {
	h3 {font-size: 45px}
	h5 {font-size: 25px}
	p {font-size: 15px}
}